@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);


*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    box-sizing: border-box;
}

// $color1: #EB7926;
/*
html{
    height: 100%;
}*/

$color1: black;

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header{
    background-color: $color1;

    .navbar{
        background-color: $color1;
        margin-bottom: 20px;
        
        .navbar-brand{
            color: #ffffff;
        }
        .offcanvas{
            background-color: $color1;
            color: #ffffff;
        }
        .offcanvas-body{
            color: #ffffff;
            
            .nav-link{
                color: #ffffff;  
            }
        }
    }
}

.titulo{
    padding-top: 5%;
    padding-left: 3%;
    padding-bottom: 1%;
    color: #EB7926;
}

.container{
    text-align: justify;
    padding-bottom: 5%;
    position: absolute;
    h1{
        color: $color1;
    }
}

section{
    
    .titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    }
}

.module {
    display: flex;
    padding-bottom: 3%;
    align-items: center;
    justify-content: space-between;

    .image-column {
        flex: 1;
        padding-left: 5%;
        img {
            max-width: 40%;
            height: auto;
            border-radius: 25px;
        }
    }

    .text-column {
        flex: 2;
        padding-left: 20px;
        p {
            font-size: 16px;
            line-height: 1.5;
        }
    }
}

.image-module {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; // Adjust as needed

    .image-row {
        display: flex;
        justify-content: space-between;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

section{
    .image-row{
        flex: 1;
        padding-bottom: 5%;
    }
}

.footer {
    background-color: #f0f0f0;
    margin-top: auto;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;

    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;

        .social-icons {
            margin-right: 20px;

            img {
                width: 24px;
                height: 24px;
                margin-right: 10px;
            }
        }
    }
}


@import "../node_modules/bootstrap/scss/bootstrap.scss"

